<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ChipiChat.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.strangecode.LaunchBar.action.ChipiChat</string>
	<key>CFBundleName</key>
	<string>ChipiChat</string>
	<key>CFBundleVersion</key>
	<string>v1.0.0</string>
	<key>LBAbbreviation</key>
	<string>cc</string>
	<key>LBArgument</key>
	<string>text and files</string>
	<key>LBChangelog</key>
	<string></string>
	<key>LBDebugLogEnabled</key>
	<false/>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>text and files</string>
		<key>LBAuthor</key>
		<string>Quinn Comendant</string>
		<key>LBEmail</key>
		<string>quinn@strangecode.com</string>
		<key>LBRequirements</key>
		<string>OpenAI API key and internet access</string>
		<key>LBResult</key>
		<string>Response from ChatGPT as a LaunchBar item</string>
		<key>LBSummary</key>
		<string>Interact with the ChatGPT API</string>
		<key>LBTwitter</key>
		<string>@com</string>
		<key>LBWebsiteURL</key>
		<string>https://www.strangecode.com/</string>
	</dict>
	<key>LBDownloadURL</key>
	<string>https://github.com/quinncomendant/ChipiChat.lbaction/releases/latest/download/ChipiChat.lbaction.zip</string>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBRequirements</key>
	<string>OpenAI API key and internet access</string>
	<key>LBResult</key>
	<string>Response message from ChatGPT as a LaunchBar item</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
    <key>LBDownloadURL</key>
    <string>https://github.com/quinncomendant/ChipiChat.lbaction/releases/latest/download/ChipiChat.lbaction.zip</string>
	<key>LBUpdateURL</key>
	<string>https://github.com/quinncomendant/ChipiChat.lbaction/blob/main/Contents/Info.plist</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2023 Quinn Comendant</string>
</dict>
</plist>
